.Rproj.user/BE787EE3/build_options
.Rproj.user/BE787EE3/cpp-definition-cache
.Rproj.user/BE787EE3/persistent-state
.Rproj.user/BE787EE3/rmd-outputs
.Rproj.user/BE787EE3/saved_source_markers
.Rproj.user/BE787EE3/console06/INDEX001
.Rproj.user/BE787EE3/pcs/files-pane.pper
.Rproj.user/BE787EE3/pcs/source-pane.pper
.Rproj.user/BE787EE3/pcs/windowlayoutstate.pper
.Rproj.user/BE787EE3/pcs/workbench-pane.pper
.Rproj.user/BE787EE3/sources/prop/9DFD1E01
.Rproj.user/BE787EE3/sources/prop/INDEX
.Rproj.user/shared/notebooks/A16597F-plantlist-vignette/1/s/chunks.json
man/.DS_Store
vignettes/.DS_Store
R/.DS_Store
.DS_Store
